* { box-sizing: border-box; }
body { margin: 0; padding: 0; }
.container { border: 1px solid #000; margin: 50px; padding: 25px; }

#caixa1 { 
    background: url(img/praia.jpg) no-repeat center center; background-size: cover;
    min-height: 50vh;
}

#caixa2 { background: bisque url(img/bg.png) repeat-x center top; }
