/* 
Azul: #004B8E 
Laranja: #F7941B
*/
body {
  font-size: 2em;
  background-color: #F7941B;
  color: #ffffff;
}

b {
    color: #004B8E;
}

img {
  max-width: 100px;
  height: auto;
  flex: 1;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer p {
  display: inline;
  flex: 2;
  margin: 0;
}

.sublinhado {
  text-decoration: underline;
}
